
#gift1
{
    
        /* background: url('../img/strawberries.jpg')no-repeat center center/cover; */
        background: url('../img/christmas-balls-1891598_1920.jpg')no-repeat center center/cover;
        height: 480px;
    
}

#gift2
{
     /* background: url('../img/strawberries.jpg')no-repeat center center/cover; */
     background: url('../img/flower.jpg')no-repeat center center/cover;
     height: 480px;
}

#gift3
{
     /* background: url('../img/strawberries.jpg')no-repeat center center/cover; */
     background: url('../img/pexels-giftpunditscom-1303099.jpg')no-repeat center center/cover;
     height: 480px;
}


#gift4
{
     /* background: url('../img/strawberries.jpg')no-repeat center center/cover; */
     background: url('../img/valentine-5954177_1920.jpg')no-repeat center center/cover;
     height: 480px;
}


#gift5
{
     /* background: url('../img/strawberries.jpg')no-repeat center center/cover; */
     background: url('../img/birthday-2491381_1920.jpg')no-repeat center center/cover;
     height: 480px;
}

.cards
{
    position: relative;
    left:500px;
    bottom:15px;
    color: white;
    font-weight: bold;
    text-shadow: 0 0 15px red,0 0 15px white,0 0 15px rgb(243, 24, 243);
    width: 200px;
}

.card2
{
    width: 90px;
    font-size: 60px;
}

.pass1
{
    font-size:30px;
    color: red;
}
#gift-cards
{
    text-align: center;
}
#pick
{
    text-align: center;
    font-family: 'Festive', cursive;
    font-family: 'Fuggles', cursive;
    font-size: 40px;
    font-weight: 800;
}

#gc-box-1
{
    display: grid;  
    grid-template-areas:
    /* 'box1 box1 box2 box2'
    'box3 box3 box4 box4'
    'box5 box5 box6 box6'; 
    'box1 box2 ';*/
    'box1 box2 box3 box4  ';
     grid-gap: 22px;
}
#gc1
{
    border-radius: 9px;
    height:180px;
    background: url('../img/g1.jpg')no-repeat center center/cover;
}
#gc2
{
    border-radius: 9px;
    height:180px;
    background: url('../img/g10.jpg')no-repeat center center/cover;
}
#gc3
{
    border-radius: 9px;
    height:180px;
    background: url('../img/g11.jpg')no-repeat center center/cover;
}
#gc4
{
    border-radius: 9px;
    height:180px;
    background: url('../img/g12.jpg')no-repeat center center/cover;
}



#gc-box-3
{
    display: grid;  
    grid-template-areas:
    /* 'box1 box1 box2 box2'
    'box3 box3 box4 box4'
    'box5 box5 box6 box6'; 
    'box1 box2 ';*/
    'box1 box2 box3 box4  ';
     grid-gap: 22px;
}
#gc9
{
    border-radius: 9px;
    height:180px;
    background: url('../img/g13.jpg')no-repeat center center/cover;
}
#gc10
{
    border-radius: 9px;
    height:180px;
    background: url('../img/g14.jpg')no-repeat center center/cover;
}
#gc11
{
    border-radius: 9px;
    height:180px;
    background: url('../img/g15.jpg')no-repeat center center/cover;
}
#gc12
{
    border-radius: 9px;
    height:180px;
    background: url('../img/g16.jpg')no-repeat center center/cover;
}



#gc-box-4
{
    display: grid;  
    grid-template-areas:
    /* 'box1 box1 box2 box2'
    'box3 box3 box4 box4'
    'box5 box5 box6 box6'; 
    'box1 box2 ';*/
    'box1 box2 box3 box4  ';
     grid-gap: 22px;
}
#gc13
{
    border-radius: 9px;
    height:180px;
    background: url('../img/g17.jpg')no-repeat center center/cover;
}
#gc14
{
    border-radius: 9px;
    height:180px;
    background: url('../img/g18.jpg')no-repeat center center/cover;
}
#gc15
{
    border-radius: 9px;
    height:180px;
    background: url('../img/g19.jpg')no-repeat center center/cover;
}
#gc16
{
    border-radius: 9px;
    height:180px;
    background: url('../img/g20.jpg')no-repeat center center/cover;
}



#gc-box-5
{
    display: grid;  
    grid-template-areas:
    /* 'box1 box1 box2 box2'
    'box3 box3 box4 box4'
    'box5 box5 box6 box6'; 
    'box1 box2 ';*/
    'box1 box2 box3 box4  ';
     grid-gap: 22px;
}
#gc17
{
    border-radius: 9px;
    height:180px;
    background: url('../img/g2.jpg')no-repeat center center/cover;
}
#gc18
{
    border-radius: 9px;
    height:180px;
    background: url('../img/g21.jpg')no-repeat center center/cover;
}
#gc19
{
    border-radius: 9px;
    height:180px;
    background: url('../img/g3.jpg')no-repeat center center/cover;
}
#gc20
{
    border-radius: 9px;
    height:180px;
    background: url('../img/g4.jpg')no-repeat center center/cover;
}

/* gift card payment */

.click
{
    font-size: 50px;
    text-align: center;
    position: relative;
    top:50px;
    left:105px;

    color:rgb(82, 67, 67);
    
    font-weight: bold;
}

.click:hover
{
    color: red;
  
    text-shadow: 0 0 10px rgb(233, 56, 233),0 0 15px black,0 0 15px red;
}

#form-gift
{
    background: blanchedalmond;
    
}

#leg
{
    position: relative;
    text-align: center;
}
#detail
{
    text-align: center;
   
    position: relative;
    left: 200px;
}

#txtname
{
position: relative;
left: 100px;
}

#txtemail
{
position: relative;
left: 100px;
}

h4{
    text-align: center;
}
/* 
#gc-box-2
{
    display: grid;  
    grid-template-areas:
    /* 'box1 box1 box2 box2'
    'box3 box3 box4 box4'
    'box5 box5 box6 box6'; 
    'box1 box2 ';*/
    /* 'box1 box2 box3 box4  ';
     grid-gap: 22px;
} */
/* #gc5
{
    border-radius: 9px;
    height:180px;
    background: url('../img/g1.jpg')no-repeat center center/cover;
}
#gc6
{
    border-radius: 9px;
    height:180px;
    weight:180px;
    background: url('../img/g10.jpg')no-repeat center center/cover;
}
#gc7
{
    border-radius: 9px;
    height:180px;
    background: url('../img/g11.jpg')no-repeat center center/cover;
}
#gc8
{
    border-radius: 9px;
    height:180px;
    background: url('../img/g12.jpg')no-repeat center center/cover;
}  */